*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
}

.header{
    width: 100vw;
    height: 200px;
    display: flex;
    padding: 50px 200px;
    position: relative;
}

.logo{
    display: flex;
    align-items: center;
}
 .menu{
    display: flex;
    align-items: center;
 }
 .menu-list .menu-item{
    list-style-type: none;
    /* display: flex; */
 }

@media screen and (max-width:991px) {
    
}