@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
.container{
    width: 100%;
}

.navbar{
    display: flex;
    width: 78%;
    height: 150px;
    align-items: center;
    margin: 0 auto;
}


.menu{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.menu .menu-item{
    display: flex;
    list-style-type: none;
}

.item{
    margin-right: 30px;
}

.search{
    margin-left: 60px;
    margin-right: 10px;
    align-items: center;
}
.box-search{
    width: 50px;
    height: 50px;
    background: #efeeee;
    color: rgb(4, 4, 4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
}

.fa-solid.fa-bars{
    display: none;
}

.header{
    width: 78%;
    height: 500px;
    margin: 0 auto;
}

.header1{
    float: left;
    width: 50%;
    height: 500px;
    position: relative;
}
.header2{
    float: left;
    width: 50%;
    height: 500px;
    position: relative;
}
.header::after{
    content: "";
    display: table;
    clear: both;
}

.content{
    position: absolute;
    bottom: 0;
    left: 0;
}
.header2_image{
    position: absolute;
    right: 0;
    bottom: 0;
}

